* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
}

.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.tictactoe {
	display: grid;
	grid-template-columns: 100px 100px 100px;
	/* grid-template-columns: repeat(3, 100px); to jest to samo co wyżej :)  */
	grid-template-rows: 100px 100px 100px;
	gap: 10px;
	padding: 20px;
	border: 2px solid #fff;
	border-radius: 10px;
}

.tictactoe__item {
	position: relative;
	border: 2px solid #fff;
	border-radius: 10px;
	transition: background-color 0.5s;
}
.tictactoe__item:hover {
	background-color: grey;
	cursor: pointer;
}

.rest-button {
	padding: 10px;
	border: none;
	background-color: black;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	border-radius: 10px;
	border: 2px solid #fff;
	transition: background-color 0.5s;
}
.rest-button:hover {
	background-color: grey;
}
.info {
	height: 50px;
	color: green;
	font-size: 30px;
	font-weight: bold;
}
.mode-select {
	padding: 10px;
	border: none;
	background-color: black;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 10px;
}
.input-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.input-name {
	padding: 10px;
	border: none;
	background-color: black;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 10px;
	text-align: center;
}
.player-name {
	padding: 10px;
	text-align: center;
	color: green;
	font-size: 30px;
	font-weight: bold;
}
/* ============================================================ */
/* ============================================================ */
/* CSS do JS  */
/* ============================================================ */
/* ============================================================ */
.tictactoe__item--player-X::after,
.tictactoe__item--player-X::before {
	position: absolute;
	content: '';
	color: white;
	height: 5px;
	width: 100%;
	top: 50%;
	left: 0;
	background-color: red;
}
.tictactoe__item--player-X::before {
	transform: translateY(-50%) rotate(-45deg);
}
.tictactoe__item--player-X::after {
	transform: translateY(-50%) rotate(45deg);
}

.tictactoe__item--player-O::before {
	position: absolute;
	content: '';
	border-radius: 50%;
	border: 5px solid green;
	width: 80%;
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
